.fresh {
    padding: 96px 0;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../img/bg/fresh.jpeg) center (center/cover) no-repeat;
    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 48px;
        max-width: 215px;
        height: 48px;
        border: 1px solid #FFFFFF;
        padding: 0px 38px;
        font-weight: 700;
        font-size: 16px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        transition: 0.2s;
        &:hover {
            background-color: #FFFFFF;
            color: black;
        }
    }
}