.hero {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../img/bg/bg_hero.jpeg) center (center/cover) no-repeat;
    padding: 275px 0;
    @media (max-width: 576px) {
        padding: 250px 0;
    }

    &__logo {
        display: block;
        max-width: 120px;
        margin: 0 auto;
    }
    &__title {
        max-width: 962px;
        font-weight: 700;
        font-size: 96px;
        line-height: 96px;
        color: #FFFFFF;
        margin: 0 auto;
        margin-top: 25px;
        text-align: center;
        @media (max-width: 1001px) {
            font-weight: 700;
            font-size: 40px;
            line-height: 96px;
        }
        @media (max-width: 576px) {
            font-weight: 700;
            font-size: 27px;
            line-height: 60px;
        }
    }
    &__descr {
        max-width: 763px;
        margin: 0 auto;
        margin-top: 24px;
        font-weight: 400;
        font-size: 32px;
        line-height: 50px;
        text-align: center;
        color: #FFFFFF;
        @media (max-width: 992px) {
            font-weight: 400;
            font-size: 24px;
            line-height: 48px;
        }
        @media (max-width: 576px) {
            margin-top: 0;
            font-weight: 400;
            font-size: 17px;
            line-height: 35px;
        }
    }
    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 48px;
        max-width: 215px;
        height: 48px;
        border: 1px solid #FFFFFF;
        padding: 0px 38px;
        font-weight: 700;
        font-size: 16px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        transition: 0.2s;
        &:hover {
            background-color: #FFFFFF;
            color: black;
        }
    }
}